$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
$main-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$icon-color: #afb1b8;
$footer-text-color: rgba(255, 255, 255, 0.6);
$main-background-color: #ffffff;
$secondary-background-color: #f5f4fa;
$footer-background-color: #2f303a;
$white-color: #ffffff;
$regular-font-weight: 400;
$medium-font-weight: 500;
$bold-font-weight: 700;
